.container {
  width: 100%;
  max-width: 300px;
  position: relative;
}

.imgContainer {
  width: 300px;
  height: 300px;
  display: flex;
  position: relative;
  border: 2px solid var(--text);
  border-radius: 4px;
  margin-bottom: 10px;
}

.img {
  object-fit: contain;
}

.infoContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.descContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cartIcons {
  position: relative;
  cursor: pointer;
}

.shoppingIcon {
  font-size: 30px;
}

.addToCartIcon {
  font-size: 20px;
  position: absolute;
  right: 3px;
  bottom: 0px;
  color: var(--text);
}

.addToCartIcon {
  cursor: pointer;
  font-size: 24px;
  transition: transform 0.2s ease;
}

.cartIcons:hover {
  transform: scale(1.1);
}

.cartIcons:hover .shoppingIcon,
.cartIcons:hover .addToCartIcon {
  color: var(--accent);
}

.cartIcons:hover .shoppingIcon {
  box-shadow: 0 0 8px var(--accent);
  border-radius: 4px;
}

.feedback {
  position: absolute;
  top: -10px;
  right: 0;
  font-size: 14px;
  background: var(--accent);
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 2;
  align-items: center;
  gap: 3px;
  display: flex;
  animation: fadeSlide 0.5s ease;
}

.success .icon {
  color: var(--success);
  font-size: 17px;
}

.success .text {
  color: var(--success);
}


.warning .icon {
  color: var(--warning);
  font-size: 17px;
}


.warning .text {
  color: var(--warning);
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
